/* desktop.css */
@import url("bootstrap.css");
@import url("commonstyles.css");
@import url("flat-ui.css");
@import url("video-js.css");

#realtime {
	margin-left: 20px;
	width: 50%;
	float: left;
}
