<div class="navbar span8 offset2">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#fakelink" class="brand">MovieLingo</a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li class="active videos"><a href="#videos">videos</a></li>
        </ul> <!-- /nav -->

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>