<!-- HTML Template -->
<h3>Start using somethings</h3>
sdfasdfhasfa sdfasd
<div class="btn-group select select-block mbl">
	<i class="dropdown-arrow dropdown-arrow-inverse"></i>
	<button class="btn dropdown-toggle clearfix btn-huge btn-primary disabled" data-toggle="dropdown" style="background-color: rgba(0,0,0,0.2)">
		<span class="filter-option pull-left" style="overflow: visible;">hola</span>&nbsp;
	</button>
	<ul class="dropdown-menu dropdown-inverse category-selector disabled" role="menu" style="overflow-y: auto; min-height: 80px; max-height: 491px; min-width: 30px !important; margin-left:6px">
		<li rel="0" ><b class="caret"></b>
			<a tabindex="-1" class="opt "><span class="pull-left"><span title="Quote" style="margin-left:7px;" class="category quote fui-heart"></span></span></a></li>
		<li rel="1"><a tabindex="-1" class="opt "><span class="pull-left"><span title="Vocabulary" style="margin-left:7px;" class="category vocabulary fui-search"></span></span></a></li>
		<li rel="2" >
			<a tabindex="-1" class="opt "><span class="pull-left" style="left:5px;"><span title='Pronunciation' style="margin-left:7px;" class='category Pronunciation fui-volume'></span></span></a></li>
	</ul>
</div>