<div class="thumbnail span2" style="margin-left: 50px">
	<div class="preview">
		<span class="overlay fui-play"></span>
		<img src="<%= preview %>">
	</div>
	<div class="iconbar iconbar-horizontal <%= categoryColor %>">
    <ul>
      <li style="margin-left:30px"><a class="fui-new">
        <span class="iconbar-unread"><%= none %></span>
      </a></li>
      <li><a  class="fui-heart">
        <span class="iconbar-unread"><%= quote %></span></a></li>
      <li><a  class="fui-volume">
        <span class="iconbar-unread"><%= pronunciation %></span>
      </a></li>
      <li><a class="fui-search">
        <span class="iconbar-unread"><%= vocabulary %></span>
      </a></li>
    </ul>
	</div>
</div>