<div class="thumbnail span2" style="margin-left: 50px">
	<div class="preview">
		<span class="overlay fui-play"></span>
		<img src="<%= preview %>">
	</div>
	<div class="iconbar iconbar-horizontal iconbar-success">
    <ul>
      <li><a href="#fakelink" class="fui-user">
        <span class="iconbar-unread">4</span>
      </a></li>
      <li><a href="#fakelink" class="fui-heart">
        <span class="iconbar-unread">10</span></a></li>
      <li><a href="#fakelink" class="fui-question">
        <span class="iconbar-unread">22</span>
      </a></li>
    </ul>
	</div>
</div>