<div class="thumbnail span2">
	<div class="preview">
		<span class="overlay fui-play"></span>
		<img src="<%= preview %>">
	</div>
	<div class="iconbar iconbar-horizontal iconbar-success">
    <ul>
      <li><a href="#fakelink" class="fui-user"></a></li>
      <li><a href="#fakelink" class="fui-calendar"></a></li>
      <li><a href="#fakelink" class="fui-chat"></a></li>
      <li><a href="#fakelink" class="fui-mail"></a></li>
      <li>
        <a href="#fakelink" class="fui-gear">
          <span class="iconbar-unread">1</span>
        </a>
      </li>
    </ul>
	</div>
</div>